/* shared style */
* {
    font-family: 'Mulish', sans-serif;
    padding: 0px;
    margin: 0;
}

:root {
    --primary-color: #131318;
    --secondary-color: rgba(19, 19, 24, 0.70);
    --paragraph-color: #5A5A5D;
    --white-color: #FFF;
    --btn-color: #FF5400;
    --title-font-size: 2.8rem;
    --small-font-size: 1.3rem;
}

.primary-paragraph-text {
    color: var(--secondary-color);
    font-weight: 400;
    line-height: 1.6rem
}

.center-align {
    text-align: center;
}

.secondary-paragraph-text {
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 1.6rem
}

.section-title {
    color: var(--primary-color);
    text-align: center;
    font-size: var(--title-font-size);
    font-weight: 800;
}

.primary-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--btn-color);
    text-align: center;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
}

input[type=text],
[type=email] {
    padding: 16px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
}

#select-item {
    padding: 16px 20px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}

i {
    margin-right: 10px;
}

/* Header Style */

.banner {
    display: flex;
    width: auto;
    height: 500px;
    margin-top: 50px;
    /* padding: 0 135px; */
    background: url("Images/heading_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 270px);
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 48px;
    /* padding: 0 135px; */

}

.top-margin {
    margin-top: 30px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.banner-title {
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-top: 106px;
}

.banner-des {
    /* margin-top: 24px; */
    color: var(--white-color);
    text-align: center;
    font-weight: 400;
    line-height: 26px;
    margin: 0 247px;
}

.banner-query {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

#where-go {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}

/* #select-item {
    padding: 16px 20px;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50); 
} */

.query-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: var(--btn-color);
    color: var(--white-color);
    border: 0;
}

/* Popular Tours Section Style */
.our-popular-tours {
    margin: 100px 135px;
    display: flex;
    gap: 50px;
}

.popular-tour-list {
    padding: 0px 35px;
}

/* Destination Section Style */

/* .destination{
    display:flexbox;
    margin: 0px 135px;
} */

.destination-content {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: inline-flex;
    gap: 20px;
}

.container2 {
    display: inline-flex;
    gap: 20px;
}

.container3 {
    display: inline-flex;
    gap: 20px;
}



.destination-item {
    position: relative;
    text-align: center;
    color: #FFF;
}

.destination-img-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

/* Why choose us style */
.choose-us {
    margin: 100px 90px;
}

.choose-us>h2 {
    margin-bottom: 24px;
}

.why-choose-card {

    width: 450px;
    height: 284px;
    text-align: left;
    padding: 32px;
    margin-left: 55px;
    margin-top: 48px;
}

.card-1 {
    /* width: 573px;
        height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    /* width: 573px;
        height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-choose-card img {
    width: 15%;
    margin-bottom: 32px;
}

.why-choose-card h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 800;
}

.why-choose-card p {
    margin-top: 16px;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 26px;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.choose-us-content {
    display: grid;
    grid-template-areas:
        " a a b b "
        " . c c . "
    ;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* newsletter section styles */
.newsletter {
    margin: 0px 135px;
}

.newsletter-form {
    width: 474px;
    height: 350px;
    border-radius: 16px;
    border: 1px solid var(--btn-color);
    text-align: left;
    padding: 20px;
    margin-bottom: 100px;
}

.newsletter-form h3 {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 800;
}

.newsletter-form p {
    margin-top: 16px;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    border: none;
}

#enter-name {
    margin-top: 24px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

#enter-email {
    margin-top: 24px;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

#btn-subs {
    margin-top: 24px;
    height: 52px;
    width: 100%;
}

.newsletter-img-bg {
    width: 672px;
    height: 392px;
    border-radius: 16px;
    background: url("Images/news.png"), lightgray 50% / cover no-repeat;
    position: relative;

}

#news-btn {
    width: 324px;
    height: 120px;
    transform: rotate(-30deg) translateY(-75px) scale(1);
    border: none;
    border-radius: 16px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#news-btn h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

#news-btn h4 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}

.newsletter-content {
    display: flex;
    gap: 20px;
}



/* responsive for mobile or small device*/
@media screen and (max-width : 600px) {
    * {
        margin: 3px;
        padding: 0;
    }

    #select-item {
        width: 250px;
        height: 52px;
    }

    /* header style */
    .banner {
        background-position: inherit;
        /* background-position-x: 100%; */
        /* background-size: calc(100% - 10px); */
        background-size: cover;
        border-radius: 20px;
        gap: 5px;
    }

    .banner-content {
        gap: 5px;
    }

    .banner-title {
        color: var(--paragraph-color);
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .banner-des {
        /* margin-top: 24px; */
        color: var(--paragraph-color);
        font-size: 12px;
        line-height: 20px;
        margin: 0;
    }

    .banner-query {
        display: flex;
        padding: 16px;
        gap: 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        flex-direction: column;
    }

    #where-go {
        width: 250px;
        height: 52px;
    }

    .query-btn {
        width: 250px;
        height: 52px;
    }

    i {
        margin-right: 20px;
    }

    /* Popular Tours Style */

    .our-popular-tours {
        margin: 24px 0px;
        flex-direction: column;
        gap: 50px;
    }

    .popular-tours-content h2 {
        color: var(--paragraph-color);
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .popular-tours-content p {
        color: var(--paragraph-color);
        font-size: 12px;
        line-height: 20px;
    }

    .popular-tours-content li {
        color: var(--paragraph-color);
        font-size: 12px;
        line-height: 20px;
    }

    /* destination styles for mobile */

    .destination {
        width: 100%;
    }

    .destination-content {
        margin: 0px -5px;
    }

    .destination-text-content h2 {
        /* color: var(--paragraph-color); */
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .destination-text-content p {
        color: var(--paragraph-color);
        font-size: 12px;
        line-height: 20px;
    }

    .container1 {
        display: flex;
        flex-direction: column;
    }

    .container1 img {
        width: 100%;
    }

    .container2 {
        display: flex;
        flex-direction: column;
    }

    .container2 img {
        width: 100%;
    }

    .container3 {
        display: flex;
        flex-direction: column;
    }

    .container3 img {
        width: 100%;
    }

    /* Choose us Styles */

    .choose-us {
        margin: 0px;
        margin-top: 100px;
    }

    .choose-us-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -45px;
        gap: 10px;
    }



    .why-choose-card {
        width: 335px;
        height: 200px;

    }


    .why-choose-card h3 {
        font-size: 1.3rem;
    }

    .why-choose-card p {
        font-size: 12px;
        line-height: 20px;
    }

    .choose-us .section-title {
        font-size: 1.3rem;
    }

    .choose-us .primary-paragraph-text {
        font-size: 12px;
        line-height: 20px;
    }


}