*{
    font-family: 'Mulish', sans-serif;
    padding: 0px;
    margin: 0 ;
}

.banner {
    width: auto;
    height: 500px;
    margin-top: 50px;
    /* padding: 0 135px; */
    background: url("Images/heading_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100% - 270px);
    /* padding: 0 135px; */
    
    
}